  .headingLg {
    font-size: 2rem;
    font-weight: 1000;
    /* margin: 1rem 0; */
  }
  
  .headingMd {
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .headingFlashCard {
    font-size: 5rem;
  }

  .borderCircle {
    border-radius: 99px;
  }

  .container {
    border: 2px solid rgb(75 70 74);
    background-color: lightslategray;
    border-radius: 0.5em;

    /* display: grid; */
    /* place-items: center; */
    text-align: center;
    margin: 1rem;
    width: 35rem;
  }

  .containerSmall {
    border: 2px solid rgb(75 70 74);
    background-color: lightslategray;
    border-radius: 0.5em;

    /* display: grid; */
    /* place-items: center; */
    text-align: center;
    margin: 1rem;
    width: 5rem;
  }

  .containerChooseKanji {
    border: 2px solid rgb(75 70 74);
    background-color: lightslategray;
    border-radius: 0.5em;

    /* display: grid; */
    /* place-items: center; */
    text-align: center;
  }

  .containerFlashCard {
    border: 2px solid rgb(75 70 74);
    background-color: lightslategray;
    border-radius: 0.5em;
    place-content: center;
    /* display: grid; */
    /* place-items: center; */
    text-align: center;
    margin: 1rem;
    /* width: 25rem; */
    height: 25rem;
  }
